$white          = #FFFFFF
$green-gradient	= linear-gradient(90deg, #759407 0%, #98C400 100%)
$green          = #98C400
$green-light    = #C6ff00
$graphite-dark  = #323236
$graphite       = #48494E
$graphite-light = #5D6069
$grey-dark      = #ACACAC
$grey           = #E5E5E5
$grey-medium    = #F1F1F1
$grey-light     = #F8F8F8
$pink-gradient	= linear-gradient(90deg, #DB5A5A 0%, #F57D7D 100%)
$pink           = #F57D7D
$orange         = #F4AE4A
$orange-gradient= linear-gradient(90deg, #CC8928 0%, #F4AE4A 100%)
$brown          = #A58f8C

$background05   = rgba(0,0,0,0.05)
$background10   = rgba(0,0,0,0.1)
$background20   = rgba(0,0,0,0.2)
$background30   = rgba(0,0,0,0.3)
$background40   = rgba(0,0,0,0.4)
$background50   = rgba(0,0,0,0.5)

$popup-shadow   = 0 0 20px 2px $background10
